.body {
  /* width: 100; */
  /* position: absolute; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* border: 2px solid red; */
  /* padding: 20px; */
}
/* 
remote-caret {
  //import this css to your editor , it provides your editor a nice looking caret for each user
  position: absolute;
  border-left: black;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1em;
}
.remote-caret > div {
  position: relative;
  top: -0.4em;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
  border-radius: 20%;
} */

/* Add this CSS code to your stylesheet or style module */

/* Remote caret style */
.CodeMirror-cursors .remote-cursor {
  border-left: 2px solid #ff4081; /* Set the desired color */
  background-color: transparent;
  opacity: 0.8;
}

/* Remote caret blink animation */
@keyframes remote-cursor-blink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.CodeMirror-cursors .remote-cursor.CodeMirror-blinking {
  animation: remote-cursor-blink 1.2s steps(2) infinite;
}
